<div class="jumbotron mt-5">
  <h2 class="heading">Filter by country and category</h2>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="searchNew()">
        <div class="form-group">
          <select name="category" [(ngModel)]="categorySelect" class="form-control form-control-lg">
            <option [value]="category.value" *ngFor="let category of category">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select name="country" [(ngModel)]="countrySelect" class="form-control form-control-lg">
            <option
              [value]="countries.value"
              *ngFor="let countries of countries"
            >
              {{ countries.name }}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
      </form>
    </div>
  </div>
</div>
